<div class="container">
    <div class="card mx-auto" style="width: 50rem;">
    <table class="table-striped ">
    <div class="list-group">
        <div class="list-group-item">
            <h4>ユーザー一覧</h4>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
            	</tr>
            </thead>
            <tbody>
            	<% @users.each do |user| %>
            	<tr>
            		<td>
                    <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "サラリーマン.jpg", size: "50x50", class: "rounded-circle" %>
                    </td>
                    <td>
                    <span class="user-name"><%= user.name %></span>
                    </td>
                    <td>
                    <%= link_to "#{user.followings.count}フォロー" %>
                    </td>
                    <td>
                    <%= link_to "#{user.followers.count}フォロワー" %>
                    </td>
            		<td>
                        <%= render 'relationships/follow_button', user: user %>
                    </td>
                    <td>
                    <%= link_to "Show", user_path(user) %>
                    </td>
            	</tr>
            	<% end %>
            </tbody>
        </table>
                        <%= paginate @users %>
    </div>
    </div>
</div>