<div class="container">
    <div class="row element">

<h1>ユーザー一覧</h1>
    <div class="col-xs-9">
        <div class="border" style="padding: 10px;">
            <thead>
                <tr>
                    <th>image</th>
                    <th>name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
            	</tr>
            </thead>
            <tbody>
            	<% @users.each do |user| %>
            	<tr>
            		<td>
                    <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "サラリーマン.jpg", size: "40x40" %>
                    </td>
                    <td>
                    <%= user.name %>
                    </td>
                    <td>
                    <%= link_to "フォロー数：#{user.followings.count}" %>
                    </td>
                    <td>
                    <%= link_to "フォロワー数：#{user.followers.count}" %>
                    </td>
            		<td>
            		</td>
                    <td>
                    <%= link_to "Show", user_path(user) %>
                    </td>
            	</tr>
            	<% end %>
            </tbody>
        </table>
    </div>
    </div>
</div>