<div class="container" style="margin-top: 150px">
    <div class="card mx-auto" style="width: 30rem;">
        <article class="card-body">
            <% if @user.id == current_user.id %>
            <h4 class="card-title text-center mb-4 mt-1">マイページ</h4>
            <% else %>
            <h4 class="card-title text-center mb-4 mt-1">詳細ページ</h4>
            <% end %>
            <hr>
            <p class="text-success text-center"></p>
            <form>
                <div class="form-group">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "サラリーマン.jpeg",size: "50x50", class: "rounded-circle" %>
                                </td>
                            </tr>
                            <tr>
                                <td>ユーザー名</td>
                                <td>
                                    <%= @user.name %>
                                </td>
                            </tr>
                            <tr>
                                <td>メールアドレス</td>
                                <td>
                                    <%= @user.email %>
                                </td>
                            </tr>
                            <tr>
                                <td>部署名</td>
                                <td>
                                    <%= @user.section_name %>
                                </td>
                            </tr>
                            <tr>
                                <td>役職名</td>
                                <td>
                                    <%= @user.position_name %>
                                </td>
                            </tr>
                            <tr>
                                <td>交際ステータス</td>
                                <td>
                                    <%= @user.relationship_status %>
                                </td>
                            </tr>
                            <tr>
                                <td>自己紹介文</td>
                                <td>
                                    <%= @user.introduction %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <%= render 'relationships/follow_button', user: @user %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <% if @user.id == current_user.id %>
                    <%= link_to "編集する", edit_user_path, class: "btn btn-success ml2" %>
                    <%= link_to "パスワードを変更する", edit_user_registration_path, class: "btn btn-success ml2" %>
                    <% end %>
                </div>
            </form>
        </article>
    </div>
</div>