 <div class="container">
    <div class="row">
        <div class="col-xs-3">

<h1>投稿詳細画面</h1>

<%= link_to user_path(@post.user.id) do %>
<%= attachment_image_tag @book.user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "40x40" %>
<%= @post.user.name %>

<%= @post.body %>

<%= attachement_image_tag @post, :image %>

<%= @post.created_at.strftime('%Y/%m/%d') %>

<%= @post.post_comments.count %>

<%= @post.post_comments.count %>件コメント

<% @post.post_comments.each do |post_comment| %>
	<%= image_tag('jpg', style: "width: 60px; height: 60px;") %>
	<%= post_comment.user.name %>
	<%= post_comment.created_at.strftime('%Y/%m/%d') %>
	<%= post_comment.comment %>
	<% if post_comment.user == current_user %>
		<%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
	<% end %>
<% end %>

<%= form_for [@post, @post_comment] do |f| %>
	<%= f.text_area :comment %>
	<%= f.submit "投稿する" %>
<% end %>